.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.search-wrapper input {
  border: transparent;
  padding: 10px 15px;
  width: 300px;
  border-radius: 7px;
  outline: transparent;
  box-shadow: 0 0 10px var(--red);
  background-color: var(--black);
  color: var(--blue);
}
.searchBar {
  position: relative;
}
button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 90%;
  font-size: 30px;
  color: var(--blue);
}
